{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 2%">
        <h1>Pit Display by Team 1157 and 2036</h1>
        <label for="teamNumber">Team number</label>
        <input type="number"
               onKeyDown="if(event.keyCode===13) submit();"
               placeholder="Team number" id="teamNumber">
        <button onclick="submit()">Let's Go!</button>
        <br>
        <label for="credits">When credits are enabled a link to this page will be shown on the main page. Thanks for giving credit!</label>
    </div>
{% endblock %}
{% block credit %}
{% endblock %}
{% block other %}
    <script>
        function submit() {
            location.href = document.getElementById('teamNumber').value;
        }

        function toggleCredits() {
            {% if credit_mode == "On" %}
                $.get("/credits/Off", function (data) {
                    location.reload()

                });

            {% else %}
                $.get("/credits/On", function (data) {
                    location.reload()

                });

            {% endif %}
        }
    </script>
{% endblock %}