<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% block head_extra %}{% endblock %}

</head>
<body onload="{% block onload %}{% endblock %}">
{% block body %}
{% endblock %}
{% block credit %}
    {% if request.cookies.get("credits") == "On" %}
        <div style="position: fixed; left: 50%; bottom: 0; transform: translate(-50%, -50%);">
            <p align="center">This pit display was created by Team 1157/2036. Go to <a href="https://pitdisplay.adabit.org">pitdisplay.adabit.org</a>
                to use it for your own team!</p>
        </div>
    {% endif %}
{% endblock %}
{% block other %}
{% endblock %}
</body>
</html>
