{% extends "template.html" %}
{% block title %}{{ team["team_number"] }}{% endblock %}
{% block onload %}initialize_code(){% endblock %}
{% block body %}
    {#    Slide for countdown to next match with basic info.#}c
    <div class="container" id="slide_countdown_next" style="margin-top: 2%">
        <h1>Team {{ team["team_number"] }} - {{ team["nickname"] }}</h1>
        <h3 id="next_match_heading">Match ## in:</h3>
        <h1 align="center" style="font-size: 70pt" id="countdown">00:00:00</h1>
        <br>
        <table>
            <thead>
            <tr>
                <th style="color: red"> Red alliance</th>
                <th style="color: blue; text-align: right">Blue alliance</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="color: red" id="red-1">####</td>
                <td style="color: blue; text-align: right" id="blue-1">####</td>
            </tr>
            <tr>
                <td style="color: red" id="red-2">####</td>
                <td style="color: blue; text-align: right" id="blue-2">####</td>
            </tr>
            <tr>
                <td style="color: red" id="red-3">####</td>
                <td style="color: blue; text-align: right" id="blue-3">####</td>
            </tr>
            </tbody>


        </table>
    </div>


    <div class="container" id="slide_post_match" style="display: none; margin-top: 2%">
        <h1 id="match-result-text">Match result unknown!</h1>
        <h3 id="match-result-long">COLOR alliance wins!!</h3>
    </div>

    <div class="container" id="slide_standings" style="display: none; margin-top: 2%">
        <h1>Team {{ team["team_number"] }}'s standings!</h1>
        <h3 id="standings-text">No standings loaded</h3>
    </div>



{% endblock %}


{% block other %}
    <script type="application/javascript">
        let time = 0;
        let timer_enabled = false;


        let next_match = {};
        let previous_match = {};
        let status = {};

        let loader_loop;
        let timer_loop;
        let timer_display_loop;
        let data_refresh_checker_loop;

        let next_refresh = Date.now();


        let timer_string = "";

        // Set the timeout between refreshing the data automatically
        // Is called when close to matches to provide accurate time.

        // Timer

        function getRefreshInterval(time) {
            if (time > 0) {
                if (time >= 1800) {
                    return 300000;
                } else if (time >= 600) {
                    return 60000;
                } else if (time >= 300) {
                    return 30000;
                } else if (time <= 300) {
                    return 10000;
                } else {
                    return 10000;
                }
            } else {
                return 10000;
            }
        }

        function updateTimer() {
            if (time !== 0 || timer_enabled) {
                time -= 1;
                if (time >= 0) {
                    let hours = Math.floor(time / 3600);
                    let remainder = time % 3600;
                    let minutes = Math.floor(remainder / 60);
                    remainder = remainder % 60;
                    let seconds = remainder;
                    if (hours < 10) {
                        hours = "0" + hours;
                    }
                    if (minutes < 10) {
                        minutes = "0" + minutes;
                    }
                    if (seconds < 10) {
                        seconds = "0" + seconds;
                    }
                    timer_string = hours + ":" + minutes + ":" + seconds;
                } else {
                    let hours = Math.floor(-time / 3600);
                    let remainder = -time % 3600;
                    let minutes = Math.floor(remainder / 60);
                    remainder = remainder % 60;
                    let seconds = remainder;
                    if (hours < 10) {
                        hours = "0" + hours;
                    }
                    if (minutes < 10) {
                        minutes = "0" + minutes;
                    }
                    if (seconds < 10) {
                        seconds = "0" + seconds;
                    }
                    timer_string = "-" + hours + ":" + minutes + ":" + seconds;


                    timer_enabled = true;
                }


            }
        }

        function displayTimer() {
            $("#countdown").text(timer_string);
        }

        // Slide control

        function hideSlides() {
            $("#slide_countdown_next").hide();
            $("#slide_post_match").hide();
        }

        function viewSlide(name) {
            hideSlides();
            switch (name) {
                case "countdown":
                    $("#slide_countdown_next").show();
                    break;
                case "post_match":
                    $("#slide_post_match").show();

                case "standings":
                    $("#slide_standings").show();
            }

        }

        // Loading animations
        function run_animation() {
            $("body").animate({
                backgroundColor: "rgb(215, 226, 226)"
            }, 300).animate({
                backgroundColor: "rgb(189, 204, 204)"
            }, 300);
        }

        function startLoad() {
            loader_loop = setInterval(run_animation, 200);
        }

        function stopLoad() {
            window.clearInterval(loader_loop);
            $("body").animate({
                backgroundColor: "white"
            }, 300);
        }

        // Update text that will not be constantly updated (for example Match number, not time)

        function updateSimpleTitles() {
            $("#next_match_heading").text("Match " + next_match["match_number"] + " in:");
            $("#red-1").text(next_match["alliances"]["red"]["team_keys"][0].replace("frc", ""));
            $("#red-2").text(next_match["alliances"]["red"]["team_keys"][1].replace("frc", ""));
            $("#red-3").text(next_match["alliances"]["red"]["team_keys"][2].replace("frc", ""));
            $("#blue-1").text(next_match["alliances"]["red"]["team_keys"][0].replace("frc", ""));
            $("#blue-2").text(next_match["alliances"]["red"]["team_keys"][1].replace("frc", ""));
            $("#blue-3").text(next_match["alliances"]["red"]["team_keys"][2].replace("frc", ""));
            if (previous_match["our_team_alliance"] === previous_match["winning_alliance"]) {
                $("#match-result-text").text("Victory").css("color", "green");
            } else {
                $("#match-result-text").text("Defeat").css("color", "red")
            }
            $("#match-result-long").text("The " + previous_match["winning_alliance"] + " alliance wins!");


        }

        // Update the variables that store the next and previous match

        function updateData() {
            console.log("Checking for new data...");
            startLoad();
            $.getJSON("/{{ team["team_number"] }}/event/{{ event["key"] }}/next_previous_match/", function (data) {
                next_match = data[1];
                previous_match = data[0];
                status = data[2];
                time = parseInt(next_match["delay"]);
                updateSimpleTitles();
                stopLoad();
            });

        }

        function dataRefresher() {
            if (Date.now() > next_refresh) {
                updateData();
                next_refresh = Date.now() + getRefreshInterval(time);
            }
        }


        // Initialize some loops. Called onload
        function initialize_code() {
            updateData();
            timer_loop = window.setInterval(updateTimer, 1000);
            timer_display_loop = window.setInterval(displayTimer, 1000);
            data_refresh_checker_loop = window.setInterval(dataRefresher, 1000);
        }
    </script>
{% endblock %}